body{
    font-family: Century Gothic;
    background-color: #b0c7c3;
}
.jarak-atas{
    margin-top: 10%;
}
input{
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid grey !important;
}
input:focus, textarea:focus{
    padding: 16px;
    transition: all .3s;
}
.panel-default > .panel-heading {
    color: white;
    background-color: #40a592;
    border-color: #ddd;
}
.btn-primary {
    color: #fff;
    background-color: #40a592;
    border: none;
}
.btn-primary:hover{
    background-color: #2e7668;
}
.btn-primary:focus{
    background-color: #2e7668;
}
.btn-primary:active{
    background-color: #21554b !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: white;
    border: none;
}